.max-width-1
{
    max-width: 80vw;
}
.max-width-2
{
    max-width: 60vw;
}
.m-auto{
    margin:auto;
}
.btn{
    
}
.font1{
    font-family: 'Times New Roman', Times, serif;
}
.font2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}